@model IEnumerable<seguimiento_de_tareas_de_proyectos_MVC.Models.Tarea>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prioridad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProyectoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proyecto.NombreProyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado.NombreEstado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prioridad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProyectoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proyecto.NombreProyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.NombreEstado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TareaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TareaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TareaID })
        </td>
    </tr>
}

</table>
